<meta charset="utf-8">
<title>Marvel Comics</title>
<meta name="description" content="A template app for building Express/Mongoose.">
<link href='https://fonts.googleapis.com/css?family=Economica' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/css/normalize.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
