<nav>
  <ul>
    <li><a href="/">marvel comics</a></li>
    <li><a href="/">search</a></li>
    <li><a href="/characters">characters</a></li>
    <li><a href="/users/1">profile</a></li>
  </ul>
</nav>
