<nav>
  <ul>
    <li><a href="/">marvelous</a></li>
    <li><a href="/characters">characters</a></li>
    <$ if (user) { $>
    <li><a data-fb-id="<$= user.facebookId $>" href="/users/<$= user.facebookId $>" class="userName">profile</a></li>
    <li class="right"><a href="/logout">Logout</a></li>
    <$ } else { $>
    <li class="right"><a href="/auth/facebook">Login with Facebook</a></li>
    <$ } $>
  </ul>
</nav>
