/* ---------- VARIABLES -------------------- */
/* ---------- MIXINS ----------------------- */
/* ---------- TAGS ------------------------ */
html, body {
  height: 100%; }

body {
  font-family: 'Economica', arial, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  position: relative; }
  body.loading:after {
    font-family: 'Fjalla One';
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    line-height: 20em;
    background: rgba(0, 0, 0, 0.8) url("../images/hulk.gif") no-repeat center center;
    z-index: 1000; }

header h1 {
  font-family: 'Fjalla One', sans-serif; }

p {
  font-size: 19px; }

nav {
  font-family: 'Fjalla One', sans-serif;
  width: 100%;
  background-color: #B6050F;
  position: fixed;
  top: 0; }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    nav ul li {
      text-transform: uppercase;
      display: inline-block;
      font-size: 20px; }
      nav ul li a {
        display: inline-block;
        padding: 20px;
        color: #FFF;
        text-decoration: none; }
        nav ul li a:hover {
          background-color: #96030a; }
      nav ul li.right {
        float: right; }

section, div, article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center; }

a {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }
  a img {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-family: 'Fjalla One', sans-serif; }

span {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }
  span.button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Fjalla One', sans-serif;
    background-color: #B6050F;
    color: #FFF;
    padding: 15px 30px;
    display: inline-block;
    margin: 15px auto; }
    span.button:hover {
      cursor: pointer;
      background-color: #96030a; }

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
  color: #FFF;
  background-color: #B6050F;
  border: 1px solid #B6050F;
  outline: none; }
  button:hover {
    background-color: #96030a;
    border: 1px solid #96030a;
    cursor: pointer; }
  button.disabled {
    border: 1px solid #CCC;
    background-color: #CCC; }
    button.disabled:hover {
      cursor: default; }

input {
  font-family: 'Economica', arial, sans-serif;
  width: 30%;
  outline: none;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid #444;
  margin: 0 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  input:focus {
    border-bottom: 1px solid #B6050F; }

img {
  max-width: 200px;
  width: 100%; }

select {
  border: 1px solid #000;
  outline: none;
  font-size: 20px;
  margin: 20px 0 0 0; }
  select option {
    padding: 10px; }

/* ---------- IDS -------------------------- */
#characters {
  padding: 30px 20px 20px; }
  #characters h1 {
    font-size: 40px;
    text-transform: uppercase; }
  #characters h2 {
    font-family: 'Economica', arial, sans-serif;
    font-size: 30px;
    margin: 0 0 20px 0; }
  #characters a {
    color: #333;
    display: block;
    margin: 5px 0;
    font-size: 18px; }
    #characters a:hover {
      opacity: 0.8; }
  #characters .letters a {
    background: #FFF;
    padding: 20px;
    color: #000;
    border: 1px solid;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    display: inline-block;
    text-decoration: none; }
    #characters .letters a:hover {
      background-color: #96030a;
      color: #FFF; }

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s; }
  #backToTop:hover {
    opacity: 0.7; }

/* ---------- CLASSES ---------------------- */
.container {
  height: 100%;
  margin: 65px 0 0 0; }

.home {
  font-family: 'Fjalla One';
  overflow: hidden;
  margin: -65px 0; }
  .home div {
    height: 100%; }
  .home div > article {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top; }
  .home .search .flex-container, .home .viewAllCharacters .flex-container {
    padding: 20px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center; }
    .home .search .flex-container > *, .home .viewAllCharacters .flex-container > * {
      margin: 65px 0 0 0; }
  .home .search {
    background-color: #EEF4F4; }
    .home .search h2 {
      text-transform: uppercase;
      font-size: 60px; }
      .home .search h2 span {
        display: inline-block; }
    .home .search div div {
      border: 1px solid #000;
      height: 50%;
      width: 100%;
      display: inline-block;
      padding: 10px; }
    .home .search button {
      display: block;
      width: 100%;
      padding: 20px;
      margin: 20px auto;
      font-size: 20px; }
    .home .search input {
      font-family: 'Fjalla One';
      background: #EEF4F4;
      width: 100%;
      font-size: 20px;
      text-align: center; }
  .home .viewAllCharacters {
    background-color: #000; }
    .home .viewAllCharacters a {
      display: inline-block;
      height: 50%;
      width: 100%;
      font-size: 100px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
      padding: 20px;
      border: 1px solid #FFF;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .home .viewAllCharacters a:hover {
        color: #B6050F;
        border: 1px solid #B6050F; }
  .home #characterSearchResults {
    padding: 30px 0 0 0; }
    .home #characterSearchResults h2 {
      color: #B6050F;
      font-size: 40px;
      text-transform: uppercase; }
    .home #characterSearchResults h3 {
      color: #333;
      font-size: 20px;
      padding: 0 0 30px 0;
      border-bottom: 1px solid #000; }
    .home #characterSearchResults .character-item {
      padding: 20px; }
      .home #characterSearchResults .character-item:nth-child(2n) {
        background: #000; }
      .home #characterSearchResults .character-item h2 {
        margin: 0 0 10px 0; }
      .home #characterSearchResults .character-item a {
        color: #B6050F; }
        .home #characterSearchResults .character-item a:hover {
          color: #96030a; }
      .home #characterSearchResults .character-item img {
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s; }
        .home #characterSearchResults .character-item img:hover {
          opacity: 0.7; }

.character-index {
  text-align: center; }
  .character-index h2 {
    text-transform: uppercase;
    color: #B6050F; }
  .character-index .results {
    max-width: 600px;
    margin: 0 auto; }
    .character-index .results span {
      text-transform: uppercase;
      color: #B6050F;
      font-size: 40px;
      font-weight: bold;
      border-bottom: 1px solid #B6050F;
      display: block;
      margin: 20px auto;
      width: 30px; }

.character-show article {
  width: 50%;
  display: inline-block;
  margin: 0;
  vertical-align: top; }

.character-show img {
  max-width: 100%; }

.character-show .comic-container {
  height: 100%;
  overflow: scroll; }
  .character-show .comic-container .comic {
    width: 49%;
    display: inline-block; }

.character-show .character-container {
  height: 100%;
  overflow: hidden; }
  .character-show .character-container h1 {
    text-transform: uppercase;
    font-size: 30px; }
  .character-show .character-container p {
    margin: 10px 0 0 0; }
  .character-show .character-container div {
    padding: 20px; }

.comic-show article {
  width: 50%;
  display: inline-block;
  margin: 0;
  vertical-align: top; }

.comic-show img {
  max-width: 100%; }

.comic-show .add-to-list p {
  color: #B6050F; }

.comic-show .comic-info {
  padding: 20px; }
  .comic-show .comic-info h1, .comic-show .comic-info h2 {
    text-transform: uppercase; }
  .comic-show .comic-info h1 {
    font-size: 30px; }
  .comic-show .comic-info h2 {
    font-size: 25px;
    padding: 20px 0 10px 0;
    border-bottom: 1px solid;
    color: #B6050F; }
  .comic-show .comic-info div {
    margin: 10px 0; }
  .comic-show .comic-info span.button {
    font-size: 20px;
    margin: 15px; }
  .comic-show .comic-info .characters h3 {
    margin: 10px 0 0 0; }
  .comic-show .comic-info .creators h3 {
    margin: 15px 0 5px 0; }

.user-show h1 {
  text-transform: uppercase;
  padding: 20px;
  font-size: 50px; }

.user-show h2 {
  color: #B6050F;
  font-size: 35px;
  margin: 0 0 20px 0; }

.user-show input {
  width: 250px;
  text-align: center;
  font-size: 20px; }

.user-show button {
  font-family: 'Fjalla One', sans-serif;
  padding: 15px 30px; }

.user-show .user-actions {
  margin: 5px 0 20px 0; }

.user-show .comic-lists {
  margin: 30px 0 0 0;
  border-top: 1px solid #000; }
  .user-show .comic-lists a {
    display: inline-block;
    color: #B6050F; }
    .user-show .comic-lists a:hover {
      color: #96030a; }
  .user-show .comic-lists .list {
    padding: 30px 0;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap; }
    .user-show .comic-lists .list:nth-child(2n) {
      background-color: #000; }
      .user-show .comic-lists .list:nth-child(2n) h3 {
        color: #FFF; }
      .user-show .comic-lists .list:nth-child(2n) input {
        background-color: #000;
        border-bottom: 1px solid #FFF;
        color: #FFF; }
    .user-show .comic-lists .list h3 {
      font-size: 30px;
      text-transform: uppercase;
      padding: 0 30px; }
  .user-show .comic-lists .comic {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    white-space: normal; }
    .user-show .comic-lists .comic span.button {
      width: 100%;
      margin: 0; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }
  .modal .content {
    background: #FFF;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto; }
    .modal .content span {
      margin: 20px 10px 0 10px; }
      .modal .content span.no {
        background: #000; }
        .modal .content span.no:hover {
          background: #333; }
    .modal .content p {
      margin: 0; }
    .modal .content img {
      max-width: 20px;
      max-height: 20px; }
    .modal .content .close {
      text-align: right; }
      .modal .content .close:hover {
        cursor: pointer; }

.disabled {
  background-color: #333; }

.hide {
  display: none; }

.error {
  color: #B6050F; }
