<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body class="user-show">
  <$- include('../partials/nav') $>

  <section class="container">
    <h1><$- user.name $></h1>

    <h2>My Lists</h2>
    <div class="comic-lists">
      <$ if(user.lists.length > 0) { $>
        <$ user.lists.forEach(function(list) { $>
          <div class="list" data-id="<$= list._id $>">
            <h3><$= list.title $></h3>
            <$ if (list.comics.length > 0) { $>
              <$ list.comics.forEach(function(comic) { $>
                <div class="comic" data-id="<$= comic._id $>" data-comic-id="<$= comic.id $>">
                  <a href="/comics/<$= comic.id $>"><img src="<$= comic.thumbnail $>" alt="<$= comic.thumbnail $>"></a>
                  <span class="button" id="removeComic">REMOVE</span>
                </div>
              <$ }); $> <!-- end loop through comics in a particular list -->
            <$ } $> <!-- end check if there are any comics in a particular list -->
          </div>
        <$ }); $> <!-- end loop through user's lists -->
      <$ } $> <!-- end check if user has any lists -->

    </div>
  </section>

  <$- include('../partials/scripts') $>
</body>
</html>
