<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body class="comic-show">
  <$- include('../partials/nav') $>
  <section class="container">
    <article class="comic-container">
    <!-- comic thumbnails are not stored in the database, so set path to custom image -->
      <$ if(comic.thumbnail.path + '.' + comic.thumbnail.extension.match(/image_not_available/)) { $>
        <a href="/comics/<$= comic.id $>"><img class="comic-thumbnail" src="../../images/notfound2.gif" alt="<$= comic.title $>"></a>
      <$ } else { $>
        <a href="/comics/<$= comic.id $>"><img class="comic-thumbnail" src="<$= comic.thumbnail.path $>.<$= comic.thumbnail.extension $>" alt="<$= comic.title $>"></a>
      <$ } $>
    </article><!-- comment to remove extra space
--><article class="comic-info" data-id="<$= comic.id $>">
      <h1 class="comic-title"><$= comic.title $></h1>
      <$ if (comic.description != null && comic.description != "") { $>
        <p class="comic-description"><$= comic.description $></p>
      <$ } $>

      <!-- LISTS -->
      <div class="add-to-list hide">
        <h2>Add to a List</h2>
        <select name="userLists" id="userLists">
          <script type="text/template" id="userListOptionTemplate">
            <option class="comic-list-option" value="<%= title %>" data-id="<%= _id %>"><%= title %></option>
          </script>
        </select>
        <span class="button" id="addComicToList">+ ADD TO LIST</span>
      </div>

      <!-- CHARACTERS -->
      <$ if(comic.characters.available > 0) { $>
        <div class="characters">
          <h2>Characters</h2>
          <$ comic.characters.items.forEach(function(character) { $>
            <h3><$= character.name $></h3>
          <$ }); $>
        </div>
      <$ } $>

      <!-- CREATORS -->
      <$ if(comic.creators.available > 0) { $>
        <div class="creators">
          <h2>Creators</h2>
          <$ comic.creators.items.forEach(function(creator) { $>
            <h3><$= creator.name $></h3>
            <span><$= creator.role $></span>
          <$ }); $>
        </div>
      <$ } $>
    </article>
  </section>

  <$- include('../partials/scripts') $>
</body>
</html>
