<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body class="character-index">
  <$- include('../partials/nav') $>
  <section class="container">
    <article id="characters">
      <h1>View All Characters</h1>
      <p<em>Last Updated on 03/15/16</em></p>
      <h2>Total: <strong><$= total $></strong></h2>

      <div class="letters">
        <$ letters.forEach(function(letter) { $>
            <a href="#<$= letter $>" class="button <$= letter $>"><$= letter $></a>
        <$ }); $>
      </div>

      <div class="results">
        <$ sortedCharacters.forEach(function(characterSet) { $>
          <span id="<$= characterSet[0] $>"><$= characterSet[0] $></span>
          <$ characterSet.forEach(function(character) { $>
            <a href="/characters/<$= character.id $>"><$= character.name $></a>
          <$ }); $>
        <$ }); $>
      </div>
    </article>
  </section>
  <a href="#top" id="backToTop" class=""><img src="/images/backtotop.gif" /></a>
  <$- include('../partials/scripts') $>
</body>
</html>
