<!DOCTYPE html>
<html>
<head>
  <$- include('../partials/head') $>
</head>
<body class="character-show">
  <$- include('../partials/nav') $>
  <section class="container">
    <article class="character-container">
      <div>
        <h1><$= character.name $></h1>
        <$ if (character.description.length > 0) { $>
          <p><$= character.description $></p>
        <$ } $>
      </div>
      <img src="<$= character.thumbnail $>" alt="<$= character.name $>" />
    </article><!-- comment to remove extra space
  --><article class="comic-container">
      <$ comics.forEach(function(comic) { $>
        <div class="comic">
        <!-- comic thumbnails are not stored in the database, so set path to custom image -->
          <$ if(comic.thumbnail.match(/image_not_available/)) { $>
            <a href="/comics/<$= comic.id $>"><img src="../../images/notfound.gif" alt="<$= comic.title $>"></a>
          <$ } else { $>
             <a href="/comics/<$= comic.id $>"><img src="<$= comic.thumbnail $>" alt="<$= comic.title $>"></a>
          <$ } $>
          <div class="comic-title hide">
            <h2><$= comic.title $></h2>
          </div>
        </div>
      <$ }); $>
    </article>
  </section>
  <$- include('../partials/scripts') $>
</body>
</html>
